* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;  
    height: auto;
    background-color:#08082C ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header{
    width: 100%;
    height: 5rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    padding: 3rem;
    font-size: 2rem;
}

.footer h2{
    padding: 1rem;
}

.Lorem{
    padding: 1rem;
}

.Lorem2 p{
    padding: .5rem;
}

.footer1{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    color: #fff;
}

.Data1{
    display: flex;
}

.name{
    padding: 1rem;
    color: #00ffad;
}

.footer input{
   padding: .5rem;
   border-radius: .3rem;
   background: transparent;
   border-color:#00ffad ;
}

.Email{
    padding: 1rem;
    color: #00ffad;
}

.Message{
    padding: 1rem;
    width: 100%;
    color: #00ffad;
}

.Message textarea{
    background: transparent;
    border-radius: .3rem;
    padding: .5rem;
    width: 100%;
    border-color:#00ffad ;
}


.Message button{
    width: 100%;
    background-color: #00ffad;
    border-radius: 2rem;
    color: #00ffad;
    padding: .5rem;
    color: black;
}

@media screen and (min-width: 380px) and (max-width: 520px) {

    header {    
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
    }

    body {
        width: auto;  
        height: auto;
    }

    .footer2{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer1{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    }
